<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title><%= title %></title>
  <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mitr">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">

  <link rel="stylesheet" href="./fonts/fontawesome-all.min.css">
  <link rel="stylesheet" href="./fonts/font-awesome.min.css">
  <link rel="stylesheet" href="./fonts/ionicons.min.css">
  <link rel="stylesheet" href="./fonts/fontawesome5-overrides.min.css">


  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="./images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png">

  <link rel="stylesheet" href="./stylesheets/styles.min.css">
</head>

<body>
  <nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid">
      <a class="navbar-brand" data-bs-hover-animate="tada" href="#">Keep It Brief</a>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav"></ul>
      </div>
    </div>
  </nav>
  <div class="brief-container">
    <div class="form-container">
      <form method="post">
        <div class="container" id="emailHeader">
          <div class="form-row">
            <div class="col-md-6 col-lg-3" id="avatarColumn">
              <svg class="mailAvatar" preserveAspectRatio="none" viewBox="0 0 200 200">
                <circle cx="100" cy="100" r="96.25" fill="var(--dark-colour)" />
                <path d="M197,100c0,25.9-10.16,49.45-26.71,66.85C155.12,142.9,115,142.78,115,125c0-6.45,3.83-12.06,7.95-19.36
                    c2.43,0,5.29-2.84,6.76-6.96c1.16-3.25,1.15-6.44,0.16-8.4C131.73,84.41,133,77.48,133,69c0-12.15-6.88-19.44-14.46-23.78
                    c-12.04-6.91-27.04-6.91-39.08,0C71.88,49.56,65,56.85,65,69c0,8.48,1.27,15.41,3.13,21.28c-0.99,1.96-1,5.15,0.16,8.4
                    c1.47,4.12,4.33,6.96,6.76,6.96C79.17,112.94,83,118.55,83,125c0,17.46-38.71,17.89-54.45,40.6C12.69,148.34,3,125.29,3,100
                    C3,46.43,46.43,3,100,3S197,46.43,197,100z" fill="<%=colour.hex%>" />
              </svg>
            </div>
            <div class="col-md-6 col-lg-9 d-lg-flex align-items-lg-center">
              <div>
                <h3><%=emailSubject%></h3>
                <h6><%=clientName%> &lt;<%=clientEmail%>@keepitbrief.com&gt;</h6>
                <h6><%=dateReceived%></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="container" id="emailContent">
          <div id="emailText">
            <p>Hey! We just founded a new business called "<%=companyName%>" and we're kinda like a
              <i><%=companyType.toLowerCase()%></i> thing. I was wondering if you could whip us up some
              <%=logoType.toLowerCase()%> thing with maybe some kind of
              <i><%= colour.name.match(/[A-Z][a-z]+/g).join(" ").toLowerCase() %></i> colour? Thanks!</p>
            <h6><strong>Company</strong>: <%= companyName %></h6>
            <h6><strong>Company Type</strong>: <%= companyType %></h6>
            <h6><strong>Logo Type</strong>: <%= logoType %> <small><a class="logoWhatsThis" href="#myModal" data-toggle="modal"
                  data-target="#myModal">What's this?</a></small></h6>
            <!-- <h6><strong>Preferred Icon</strong>: <%= icon %></h6> -->
            <h6><strong>Preferred Colour</strong>: <%= colour.name.match(/[A-Z][a-z]+/g).join(" ") %> <%=colour.hex%>
            </h6>
            <span
              style="height: 25px; width: 30%; background-color: <%=colour.hex%>; display: inline-block; stroke-width:5; stroke:black"></span>
          </div>
        </div>
        <div class="container" id="optionsContainer">
          <div class="form-row d-lg-flex align-items-lg-center" id="optionRow">
            <div class="col-md-4 optionsButton" id="trash" onclick="location.reload();"><i class="fa fa-trash"></i><span
                class="buttonText">No way, José</span></div>
            <div class="col-md-4" id="accept" onclick="copyClipboard();"><i class="fa fa-thumbs-up"></i><span
                class="buttonText">You got it, chief</span></div>
            <div class="col-md-4" id="kofi" onclick="location.href='https://ko-fi.com/godhran'"><i
                class="fa fa-coffee"></i><span class="buttonText">Ko-fi</span></div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Logo Types</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="text-align: center;">
          <h2>Abstract Mark</h2>
          <img style="margin-bottom: 3.5em;" src="./images/abstractmark.png" alt="Abstract Mark">
          <h2>Mascot Logo</h2>
          <img style="margin-bottom: 3.5em;" src="./images/mascotlogo.png" alt="Mascot Logo">
          <h2>Combination Mark</h2>
          <img style="margin-bottom: 3.5em;" src="./images/combinationmark.png" alt="Combination Mark">
          <h2>Emblem Logo</h2>
          <img style="margin-bottom: 3.5em;" src="./images/emblemlogo.png" alt="Emblem Logo">
          <h2>Lettermark</h2>
          <img style="margin-bottom: 3.5em;" src="./images/lettermark.png" alt="Lettermark">
          <h2>Pictorial Mark</h2>
          <img style="margin-bottom: 3.5em;" src="./images/pictorial.png" alt="Pictorial Mark">
          <h2>Wordmark</h2>
          <img style="margin-bottom: 3.5em;" src="./images/wordmark.png" alt="Wordmark">
        </div>
        <div class="modal-footer">
          <button id="modalClose" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <div class="footer-basic">
    <footer>
      <div class="social">
        <a href="https://www.twitter.com/gorodhran"><i class="icon ion-social-twitter"></i></a>
        <a href="https://discordapp.com/users/288047056273276938/"><i class="fab fa-discord"></i></a></div>
      <p class="copyright">Odhrán Gormley © 2020</p>
    </footer>
  </div>

  <script>
    function copyClipboard() {
      var el = document.createElement('textarea');
      // Set value (string to be copied)
      el.value = `Company:\t <%= companyName %>\n
      Company Type:\t <%= companyType %>\n
      Logo Type:\t <%= logoType %>\n
      Preferred Icon:\t <%= icon %>\n
      Preferred Colour:\t <%= colour.name.match(/[A-Z][a-z]+/g).join(" ") %> <%=colour.hex%>\n`;
      // Set non-editable to avoid focus and move outside of view
      el.setAttribute('readonly', '');
      el.style = { position: 'absolute', left: '-9999px' };
      document.body.appendChild(el);
      // Select text inside element
      el.select();
      // Copy text to clipboard
      document.execCommand('copy');
      // Remove temporary element
      document.body.removeChild(el);
      document.execCommand("copy");
    }
  </script>

  <script src="./javascripts/jquery.min.js"></script>
  <script src="./bootstrap/js/bootstrap.min.js"></script>
</body>

</html>